.mainWrap {
  overflow: overlay;
  max-height: 100vh;
  scroll-behavior: smooth;
}

.mainWrap::-webkit-scrollbar {
  width: 4px;
  background: transparent !important;
}
 
.mainWrap::-webkit-scrollbar-track {
  display: none;
}
 
.mainWrap::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.mainSection {
  position: relative;
  min-height: 150vh;
  background-image: 
    linear-gradient(
      170deg,
      hsl(0deg 0% 0%) 3%,
      hsla(0, 0%, 100%, 0) 50%,
      hsl(0deg 0% 0%) 90%
    ),
    url("../../assets/images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socialWrap {
  position: absolute;
  top: 30%;
  left: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  color: var(--white-900);
}

.content h1 {
  font-size: 98px;
}

.content span {
  font-size: 78px;
  opacity: 0.8;
  line-height: 48px;
}

.content button {
  position: relative;
  top: 30%;
}

.informationSection {
  margin-top: -100px;
}

.contentSection {
  display: flex;
  justify-content: center;
}

.contentSection > div:nth-child(1) {
  display: flex;
  gap: 5%;
  width: fit-content;
  color: var(--white-900);
  align-items: center;
  justify-content: center;
}

.informationSection > div > div:nth-child(2) {
  width: 40%;
}

.cultureSection > div > div:nth-child(1) {
  width: 30%;
}

.contentSection h2 {
  font-size: 58px;
}

.contentSection p {
  margin: 12px 0;
  line-height: 28px;
}

.slideSection {
  display: flex;
  justify-content: center;
  margin: 164px 0;
}

@media (max-width: 1326px) {
  .imageWrap > img {
    width: 500px;
    height: 500px;
    object-fit: contain;
  }
}

@media (max-width: 1056px) {
  .socialWrap {
    top: 80%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
  }

  .socialWrap span {
    writing-mode: horizontal-tb !important;
  }

  .socialWrap div {
    flex-direction: row !important;
  }
}

@media (max-width: 1020px) {
  .cultureSection > div > div:nth-child(1),
  .informationSection > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contentSection > div:nth-child(1) {
    flex-direction: column;
    gap: 50px;
  }

  .informationSection > div:nth-child(1) {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .cultureSection > div > div:nth-child(1) {
    width: 60%;
  }

  .contentSection h2 {
    text-align: center;
  }

  .contentSection p {
    text-align: justify;
  }
}

@media (max-width: 870px) {
  .content {
    margin-top: 24px;
    text-align: center;
  }

  .content div {
    justify-content: center;
  }
  
  .content h1 {
    font-size: 88px;
  }
  
  .content span {
    font-size: 68px;
    opacity: 0.8;
    line-height: 68px;
  }
}

@media (max-width: 676px) {
  .informationSection > div > div:nth-child(2) {
    width: 55%;
  }
}

@media (max-width: 600px) {
  .contentSection h2 {
    font-size: 48px;
  }
}

@media (max-width: 440px) {
  .imageWrap img {
    width: 90vw;
    height: 100%;
  }

  .cultureSection > div > div:nth-child(1),
  .informationSection > div > div:nth-child(2) {
    width: 85vw;
  }
}

@media (max-width: 422px) {
  .content {
    margin-top: 0;
  }

  .content h1 {
    font-size: 48px;
  }

  .content span {
    font-size: 38px;
    line-height: 40px;
  }
}