.menuWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;
}

.menuWrap > div:nth-child(1) {
  display: flex;
  gap: 16px;
}

.logo {
  color: var(--white-900);
  font-size: 24px;
}

.links {
  display: flex;
  gap: 48px;
}

.links > a {
  color: var(--white-900);
  text-decoration: none;
  transition: .2s ease-in;
}

.links > a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.btnMenu {
  display: none;
  font-size: 32px;
  color: var(--white-900);
  background-color: transparent;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .btnMenu {
    display: flex;
  }
}

@media (max-width: 520px) {
  .menuWrap {
    padding: 48px;
  }
}

@media (max-width: 380px) {
  .menuWrap {
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }
}