.btnWrap {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 18px;
  background-color: transparent;
  color: var(--white-900);
  transition: all .2s ease-in;
}

.btnWrap:hover {
  transform: scale(1.1);
}

.btnWrap[data-type='SECONDARY'] {
  color: var(--orange-900);
}