.sliderWrap {
  position: relative;
  display: flex;
  justify-content: center;
  height: min-content;
}

.slides {
  display: flex;
  width: 60vw;
  height: 80vh;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.sliderWrap img {
  width: 60vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: center;
}

.content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  gap: 8px;
  color: var(--white-900); 
}

.content h3 {
  font-size: 48px;
}

.actions {
  position: absolute;
  display: flex;
  width: 53vw;
  justify-content: space-between;
  top: 40%;
}

.actions button {
  font-size: 58px;
  border: none;
  color: var(--white-900);
  background-color: transparent;
  transition: all .5s ease-in;
}

.actions button:hover {
  transform: scale(1.1);
}

@media (max-width: 1060px) {
  .slides {
    width: 80vw;
    height: 70vh;
  }

  .sliderWrap img {
    width: 80vw;
    height: 70vh;
  }

  .actions {
    width: 75vw;
  }
}

@media (max-width: 390px) {
  .slides {
    height: 50vh;
  }

  .sliderWrap img {
    height: 50vh;
  }
}